---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Content from "../../components/Content.astro";
import Footer from "../../components/Footer.astro";
import Hero from "../../components/Hero.astro";
---

<Layout
    title="LabDinos | Privacy Policy"
    description="LabDinos: A Roblox games studio creating imaginative and wonderful experiences."
>
    <Header />
    <Hero>
        <h1 class="text-4xl font-bold">Privacy Policy</h1>
    </Hero>
    <Content prose>
        <p class="pb-4">Effective date: February 14, 2024</p>
        <h2 class="text-3xl font-bold">1. Introduction</h2>
        <p>
            LabDinos ("us", "we", or "our") operates the website labdinos.com,
            experiences on the Roblox platform, and other related services
            (collectively referred to as the "Service").
        </p>
        <p>
            In order to offer these Services to you ("your", "users", or
            "user"), we must often collect and transmit data and personal data.
            Our goal is to be as transparent as possible about the data we
            collect and how we use it.
        </p>
        <p>
            This Privacy Policy describes our policies and procedures on the
            collection, use, and disclosure of your information when you use our
            Service and tells you about your privacy rights and how the law
            protects you.
        </p>
        <p>
            By using the Service, you comfirm that you have read and understood
            the Privacy Policy in its entirety. You also agree to the collection
            of information and personal data in accordance with this Privacy
            Policy.
        </p>

        <h2 class="text-3xl font-bold">2. Information We Collect</h2>
        <h3 class="text-2xl font-bold">2.1. labdinos.com</h3>
        <p>
            For this website (labdinos.com), we use a third-party service,
            called Plausible (https://plausible.io/), to collect and process
            usage analytics. It does not use cookies, and is fully compliant
            with GDPR, CCPA, and PECR. Plausible may collect, but is not limited
            to, the following information:
        </p>
        <ul class="list-disc pl-8">
            <li>Current Page URL</li>
            <li>HTTP Referrers</li>
            <li>Browser User Agent</li>
            <li>Operating System</li>
            <li>Device Type</li>
            <li>Geolocation</li>
        </ul>

        <h3 class="text-2xl font-bold">2.2. Roblox</h3>
        <p>
            For our experiences on the Roblox platform, we may collect, store,
            and utilize information and personal data from Roblox in accordance
            with their Terms of Service and Privacy Policy. This data is used to
            provide a better experience for users and core functionality of the
            experiences. This may include, but is not limited to, the following
            information:
        </p>
        <ul class="list-disc pl-8">
            <li>Roblox User ID</li>
            <li>Roblox Username</li>
            <li>Roblox User Information</li>
            <li>Roblox Provided Age (if you are over 13)</li>
            <li>In-Experience Purchases</li>
            <li>In-Experience Data</li>
            <li>In-Experience Analytics</li>
        </ul>

        <h2 class="text-3xl font-bold">3. Use of Information</h2>
        <p>
            We do not sell, rent, or lease your information to third parties. We
            only use your information to provide and improve our Service. This
            may include, but is not limited to, analyzing usage data, improving
            user experience, and providing customer support.
        </p>
        <p>
            Under certain circumstances, we may be disclose your information to
            third parties for the following reasons:
        </p>
        <ul class="list-disc pl-8">
            <li>Where you have expressly made information public</li>
            <li>To improve our Service</li>
            <li>To process customer support requests</li>
            <li>To comply with a legal obligation</li>
        </ul>

        <h2 class="text-3xl font-bold">4. Security of Information</h2>
        <p>
            LabDinos is committed to protecting the security of your
            information. When data is transmitted over the internet, it is
            protected using industry-standard encryption protocols. However, no
            method of transmission over the internet, or method of electronic
            storage, is 100% secure. Therefore, we cannot guarantee its absolute
            security.
        </p>

        <h2 class="text-3xl font-bold">5. Children</h2>
        <p>
            As many players on Roblox are children below the age of 13, we
            restrict the collection, storage, and use of personal data from
            those users. We only store information that is necessary for the
            operation of the Service. We do not knowingly collect personal data
            from children under the age of 13. If you are a parent or guardian
            and you are aware that your child has provided us with personal
            data, please contact us. If we become aware that we have collected
            personal data from children without verification of parental
            consent, we take steps to remove that information from our servers.
        </p>

        <h2 class="text-3xl font-bold">6. Changes to This Privacy Policy</h2>
        <p>
            We may update our Privacy Policy from time to time. You are advised
            to review this Privacy Policy periodically for any changes. Changes
            to this Privacy Policy are effective when they are posted on this
            page.
        </p>

        <h2 class="text-3xl font-bold">7. Contact Information</h2>
        <p>
            If you have any questions about this Privacy Policy, please contact
            us: support@labdinos.com
        </p>
    </Content>
    <Footer />
</Layout>
