---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Content from "../components/Content.astro";
import Hero from "../components/Hero.astro";

const REDIRECT_URL = "https://www.roblox.com/communities/35257157/LabDinos";
---

<Layout
    title="LabDinos | Roblox"
    description="LabDinos: A Roblox games studio creating imaginative and wonderful experiences."
    redirect={REDIRECT_URL}
>
    <Header />
    <Hero>
        <h1 class="text-4xl font-bold">Roblox Community</h1>
    </Hero>
    <Content>
        <p>
            If you are not automatically redirected, click <a
                href={REDIRECT_URL}
                class="text-emerald-500">here</a
            >.
        </p>
    </Content>
</Layout>
