---
interface Props {
    height?: "hero" | "content" | "full";
}

const { height } = Astro.props;
import noise from "../assets/noise.png?url";
---

<div
    class={"w-full bg-zinc-950" +
        (height === "hero"
            ? " max-h-[30rem] md:max-h-[50rem] h-[80vh]"
            : height === "full"
              ? " h-screen"
              : "")}
>
    <div
        class="w-full h-full bg-radial-[circle_at_bottom] from-emerald-800 to-80% flex justify-center"
    >
        <div
            class="w-full h-full p-16 md:p-20 pt-28 md:pt-32 flex justify-center"
            style={`background-image: url(${noise}); background-blend-mode: multiply;`}
        >
            <div
                class="max-w-5xl w-full flex flex-col gap-8 items-center justify-center md:items-start"
            >
                <slot />
            </div>
        </div>
    </div>
</div>
