---
interface Props {
    height: "hero" | "content;";
}

const { height } = Astro.props;
---

<div
    class={"w-full bg-zinc-950" +
        (height === "hero" ? " max-h-[40rem] md:max-h-[50rem] h-[80vh]" : "")}
>
    <div
        class="w-full h-full p-16 md:p-20 pt-28 md:pt-32 bg-[radial-gradient(circle_at_bottom,_var(--tw-gradient-stops))] from-emerald-800 to-80% flex justify-center"
    >
        <div
            class="max-w-5xl w-full flex flex-col gap-8 items-center justify-center text-center md:text-left md:items-start"
        >
            <slot />
        </div>
    </div>
</div>
